<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="auditLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log.dir}/USM-AuditLog.csv</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${log.dir}/USM-AuditLog.%d{yyyy-MM-dd}.csv.gz</fileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <logger name="Mare-AuditLogger" level="INFO" additivity="false">
    <appender-ref ref="auditLog" />
  </logger>

  <appender name="applicationLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log.dir}/USM-Administration.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${log.dir}/USM-Administration.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="DEBUG" additivity="false">
    <appender-ref ref="applicationLog" />
  </root>

</configuration>
