<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="auditLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>target/USM-AuditLog.csv</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>target/USM-AuditLog.%d{yyyy-MM-dd}.csv.gz</fileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <logger name="Mare-AuditLogger" level="INFO" additivity="false">
    <appender-ref ref="auditLog" />
  </logger>

  <appender name="logFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>target/LogFile.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>target/LogFile.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="DEBUG" additivity="false">
    <appender-ref ref="logFile" />
  </root>

</configuration>
